@model GoL_Test_1.Models.Coordinates

@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" type="stylesheet" href="~/css/site.css">
<title>Canvas Test</title>
<canvas id="testCanvas" height="500" width="500"></canvas>

<form asp-controller="Home">
    <input type="button" value="Cancel" formaction="Home/Test2" class="btn btn-default" />
    <input type="button" value="Start" id="btnStart" class="btn btn-default" />
</form>

<script src="~/js/site.js">
</script>